[submodule "subprojects/xbyak"]
	path = subprojects/xbyak
	url = https://github.com/xenia-project/xbyak.git
[submodule "subprojects/binutils-ppc-cygwin"]
	path = subprojects/binutils-ppc-cygwin
	url = https://github.com/benvanik/binutils-ppc-cygwin.git
[submodule "subprojects/catch"]
	path = subprojects/catch
	url = https://github.com/catchorg/Catch2.git
[submodule "subprojects/premake-core"]
	path = subprojects/premake-core
	url = https://github.com/xenia-project/premake-core.git
[submodule "subprojects/snappy"]
	path = subprojects/snappy
	url = https://github.com/xenia-project/snappy.git
[submodule "subprojects/premake-export-compile-commands"]
	path = subprojects/premake-export-compile-commands
	url = https://github.com/xenia-project/premake-export-compile-commands.git
[submodule "subprojects/discord-rpc"]
	path = subprojects/discord-rpc
	url = https://github.com/discordapp/discord-rpc.git
[submodule "subprojects/rapidjson"]
	path = subprojects/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "subprojects/aes_128"]
	path = subprojects/aes_128
	url = https://github.com/openluopworld/aes_128.git
[submodule "subprojects/capstone"]
	path = subprojects/capstone
	url = https://github.com/xenia-project/capstone.git
[submodule "subprojects/cpptoml"]
	path = subprojects/cpptoml
	url = https://github.com/skystrife/cpptoml.git
[submodule "subprojects/cxxopts"]
	path = subprojects/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "subprojects/SDL2"]
	path = subprojects/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "subprojects/utfcpp"]
	path = subprojects/utfcpp
	url = https://github.com/xenia-project/utfcpp.git
[submodule "subprojects/fmt"]
	path = subprojects/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "subprojects/disruptorplus"]
	path = subprojects/disruptorplus
	url = https://github.com/xenia-project/disruptorplus.git
[submodule "subprojects/DirectXShaderCompiler"]
	path = subprojects/DirectXShaderCompiler
	url = https://github.com/microsoft/DirectXShaderCompiler.git
[submodule "subprojects/premake-cmake"]
	path = subprojects/premake-cmake
	url = https://github.com/JoelLinn/premake-cmake.git
[submodule "subprojects/date"]
	path = subprojects/date
	url = https://github.com/HowardHinnant/date.git
[submodule "subprojects/xxhash"]
	path = subprojects/xxhash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "subprojects/premake-androidndk"]
	path = subprojects/premake-androidndk
	url = https://github.com/Triang3l/premake-androidndk.git
[submodule "subprojects/FidelityFX-CAS"]
	path = subprojects/FidelityFX-CAS
	url = https://github.com/GPUOpen-Effects/FidelityFX-CAS.git
[submodule "subprojects/FidelityFX-FSR"]
	path = subprojects/FidelityFX-FSR
	url = https://github.com/GPUOpen-Effects/FidelityFX-FSR.git
[submodule "subprojects/Vulkan-Headers"]
	path = subprojects/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "subprojects/glslang"]
	path = subprojects/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "subprojects/SPIRV-Tools"]
	path = subprojects/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "subprojects/VulkanMemoryAllocator"]
	path = subprojects/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "subprojects/SPIRV-Headers"]
	path = subprojects/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "subprojects/curl"]
	path = subprojects/curl
	url = https://github.com/curl/curl.git
[submodule "subprojects/FFmpeg"]
	path = subprojects/FFmpeg
	url = https://github.com/RPCS3/ffmpeg-core
[submodule "subprojects/llvm"]
	path = subprojects/llvm
	url = https://github.com/RPCS3/llvm-mirror
